h1 {
text-align:center;
    font-size: 20px;
    font-family: Channel;sans-serif;
    color:white;

}

h2 {
text-align:center;
    font-size; 8px;
    font-family; helvetica;
    color:white;
}


body {
background-color:grey;
color:white;    
}



.btn {

text-align:center;
    font-size: 18px;
    background: black;
    color: white;
}

.galleria {
    width: 800px;
    height: 500px;
    background: grey;
}